/*Excepto en algunas partes del codigo que especifico que la sintaxis es abreviada, 
lo demas es no abreviada*/
/*Esto es el body*/
body {
    background-image:url(img/teahub.io-circuit-board-wallpaper-hd-2090875.jpg);
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-attachment: fixed; 
    background-size:cover;
    }
h1 {
    text-align: center;
    font-size: 100px;
    color: yellow;
}
h2 {
  text-align: center;
  font-size: 50px;
  color: blue;
}
p {
  text-align: center;
  font-style: bolt;
}
/*Imagen*/
  .myimage {
    margin: auto;
    display: block;
    width: 1000px;
  }
  .topnav {
    overflow: hidden;
    background-color: blue;
    }

    .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: green;
    color: black;
    }

    .topnav a.active {
    background-color: red;
    color: black;
    }
    .p1 {
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .b2 {
      background: linear-gradient(180deg, red 0%, #9C0001 49%, lightblue 50%, blue 100%);
      background-size: 1px 100px;
      transition: all .5s;
      float: right;
      padding: 16px 32px;
  }
  .b2:hover {
    background-position: 0 -50px;
    transition: all .5s;
}
.login {
  padding: 5px 10px;
}
.b1 {
  background: linear-gradient(180deg, yellow 0%, orange 49%, white 50%, #FFFFF0 100%);
  background-size: 1px 100px;
  transition: all .5s;
  float: left;
  padding: 16px 32px;
}
.b1:hover {
background-position: 0 -50px;
transition: all .5s;
}
.login {
  background: linear-gradient(180deg, white 0%, white 49%, grey 50%, grey 100%);
  background-size: 1px 100px;
  float: right;
}
.login:hover {
  background-position: 0 -50px;
}
.jorge {
  width: 50%;
}
.pau {
  width: 30%;
}
.xavi {
  width: 20%;
}
table {
  text-align: center;
  background-color: rgb(192, 193, 186, 0.1)
}
