
.topnav {
    overflow: hidden;
    background-color: blue;
    }

    .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: green;
    color: black;
    }

    .topnav a.active {
    background-color: red;
    color: black;
    }
body {
    background-image:url(img/teahub.io-circuit-board-wallpaper-hd-2090875.jpg);
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-attachment: fixed; 
    background-size:cover;
    }
h1 {
    text-align: center;
    font-size: 100px;
    color: yellow;
}
h2 {
  text-align: center;
  font-size: 50px;
  color: blue;
}
p {
  text-align: center;
  font-style: bolt;
}